@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgb(1, 172, 253);
  --yellow: rgb(254, 163, 1);
  --green: rgb(5, 212, 223);
  --lavender: rgb(93, 88, 239);
  --black: rgb(17, 17, 17);
  font-size: 16px;
}

body {
  /* background: url("assets/bg.png"); */
  font-family: "Quicksand", serif;
  margin: 0px 141px;
  color: var(--black);
}

/* nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

nav .logo img {
  size: 3.875rem;
}

nav .logo h1 {
  font-size: 2rem;
}

nav .link-container {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
}

nav .contact-btn {
  color: white;
  background-color: var(--yellow);
  border: none;
  border-radius: 12px;
  padding: 10px 40px;
  font-size: 1.25rem;
  font-weight: 500;
}

nav .menu-icon{
  display: none;
}

@media screen and (max-width:576px) {
  :root{
    font-size: 14px;
  }

  body{
    margin: 0 20px;
  }

  nav{
    border-bottom: 2px solid var(--yellow);
    background: none;
  }

  nav .logo h1,
  nav .link-container,
  nav .contact-btn {
    display: none;
  }

  nav .menu-icon {
    display: block;
    width: 20px;
  }
}

/* hero section */

header #hero{
  margin-top: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #hero .text-content{
  width: 55%;
} 

header #hero .title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: left;
}

header #hero .text {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1.25rem 0;
}

header #hero .enroll-btn{
  color: white;
  border: none;
  border-radius: 12px;
  background-color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 15px 40px;
}

header #hero img{
  width: 100%;
}

@media screen and (max-width: 576px) {
  header #hero {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  header #hero .text-content {
    width: 100%;
    text-align: center;
    order: 3;
  }

  header #hero .title {
    font-size: 2.5rem;
    text-align: center;
    order: 2;
  }
  
  header #hero .enroll-btn {
    order: 4;
   
  }

  header #hero .img-container {
    order: 1;
    margin-bottom: .125rem;
    width: 70%;
  }
}